.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.spark-jars/

data/raw/*.root
data/adoc/*.root
data/processed/*
data/parquet/*
data/muon_db/*
outputs/*

!.gitkeep
